<%= javascript_pack_tag '3d_pack', 'data-turbolinks-track': 'reload', defer:true %>

<div id="hero_01">
<article>
<h1>Critically <br>Endangered</h1>
</article>
<canvas class="webgl"></canvas>
</div>

<article id="section_02">
<h2>In 2004 it was reported that only 2,410 black rhinos remained
</h2></article>
<article>2</article>