default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  schema_search_path: "public,shared_extensions"
  username: postgres
  password: postgres
  host: localhost
  variables:
    IntervalStyle:
      iso_8601

development:
  <<: *default
  database: black_rhinos_development

test:
  <<: *default
  database: black_rhinos_test

production:
  <<: *default
  database: black_rhinos_production
  username: black_rhinos
  password: pass
