nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top:40px;
  left: 200px;
  z-index: 2;
}

.content {
  width: 930px;
}



.content .situation h3 {
  height: 100px;

  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 87.4%;

  color: #000000;
}

.content .situation p {
  height: 595px;

  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 87.4%;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #000000;
}

.content .situation p .highlight {
  font-style: italic;
  color: #ffffff;
}
